@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:100,300,400,500');
@import url('https://fonts.googleapis.com/css2?family=Koh+Santepheap:wght@100;300;400;700;900&display=swap');

* {
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Roboto Mono', monospace;
}

h2 {
  font-size: 29px;
}

h3 {
  font-size: 25px;
  text-wrap: pretty;
}

header {
  background-color: #E05056; /*red*/
  height: 80vh;
  max-width: 100%;
  color: white;
  padding-top: 40%;

}

#welcome, #name, #job, #scroll {
  margin: 0 auto;
  max-width: 93%;
  text-align: left;
  padding-left: 20px;
}

#scroll {
  max-width: 100%;
  padding-left: 0px;
}

#welcome {
  font-size: 65px !important;
  font-weight: 100 !important;
  margin-bottom: 35px !important;
  line-height: 1.2 !important;
}

#name h2 {
  font-weight: 700;
  font-family: "Koh Santepheap", serif;
}

#job h3 {
  font-weight: 100;
}

#scroll h4 {
  margin-top: 80px;
  font-weight: 500 !important;
  font-size: 17 !important;
  color: black;
  text-align: center;
}

main#portfolio {
  margin: 0 auto;
  max-width: 93%;
  margin-top: 35px;
}

div#skills {
    margin-bottom: 70px;
}

#portfolio h3  {
  font-weight: 400;
  text-align: center;
}

#portfolio p {
  text-align: center;
  font-weight: 300;
  margin-top: 7px;
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 1.6;
  max-width: 96%;
}

#portfolio a {
    font-size: 20px;
    text-underline-position: under;
}

.example {
  /* max-width: 340px; */
  margin-bottom: 40px;
}

.example img {
  max-width: 100%;
  border: 1px solid #e4e3e3;
  margin-top: 6px;
  box-shadow: 4px 4px 3px #e4e3e3;
}

div.tools {
  margin: 3px 0px;
  line-height: 1.9;
}

span.r, span.ai, span.d3, span.excel, span.data, span.rep, span.tab {
  font-size: 13.5px;
  padding: 2px 5px;
  background-color: rgba(189,201,199,0.5);
}

span.job {
  color: #E05056;
  text-transform: uppercase;
  font-size: 17px;
  font-family: "Koh Santepheap", serif;
}

#exampleBlock p {
  font-size: 15px;
  text-align: left;
  margin-top: 2px;
  margin-left: 0px;
}

#exampleBlock a, a:active, a:visited {
  margin-top: 10px;
  font-size: 16px;
  color: #000;
  text-underline-position: under;
}

#exampleBlock a:hover {
  font-size: 16px;
  background-color: #000;
  color: white;
}

section#out {
  margin-top: 35px;
  height: 70vh;
  text-align: left;
  padding-left: 20px;
  background-color: #E05056;
  color: white;
  padding-top: 70%;
}

section#out h2 {
  font-weight: 300;
}

section#out h4 {
  font-weight: 300;
  font-size: 20px;
}

section#out a, a:active {
  color: white;
}

section#out a:hover {
  color: black;
}

div#socialMedia {
  margin: 10px 0px;
}

#lnkMail {
	unicode-bidi: bidi-override;
	direction: rtl;
}

a#linkMail, a:active#lnkMail, a:visited#lnkMail {
  font-size: 16px !important;
  text-underline-position: auto;
}

a:hover#lnkMail {
  font-size: 16px !important;
  background-color: white;
  color: black !important;
}


@media only screen and (min-width: 560px) and (max-width: 860px) {
  header {
    padding-top: 20%;
  }

  #welcome, #name, #job {
    max-width: 70%;
    text-align: center;
    padding-left: 0px;
  }

  main#portfolio {
    margin: 0 auto;
    max-width: 700px;
    margin-top: 35px;
  }

  section#out {
    height: 85vh;
    margin: 0 auto;
    max-width: 100%;
    margin-top: 35px;
    text-align: center;
    padding-left: 0px;
  }

  #scroll h4 {
    margin-top: 120px;
  }
}

@media only screen and (min-width: 861px) {

  #welcome {
    font-size: 90px !important;
  }

  header {
    padding-top: 17%;
  }

  #welcome, #name, #job {
    max-width: 70%;
    text-align: center;
    padding-left: 0px;
  }

  #scroll h4 {
    margin-top: 120px;

  }

  main#portfolio {
    margin: 0 auto;
    max-width: 860px;
    margin-top: 35px;
  }

  #exampleBlock {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }


  .example {
    width: 47%;
    margin-bottom: 40px;
  }

  #exampleBlock a, a:active, a:visited {
    font-size: 15px;
    color: #000;
    text-underline-position: under;
  }

  #exampleBlock a:hover {
    font-size: 15px;
    background-color: #000;
    color: white;
  }

  section#out {
    height: 75vh;
    margin: 0 auto;
    max-width: 100%;
    margin-top: 35px;
    text-align: center;
    padding-left: 0px;
    padding-top: 15%;
  }
}
