@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:100,300,400,500');
@import url('https://fonts.googleapis.com/css2?family=Koh+Santepheap:wght@100;300;400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');



* {
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Roboto Mono', monospace;
  box-sizing: border-box;
}

h3 {
  font-size: 25px;
  text-wrap: pretty;
}

header {
  background-color: rgba(217, 217, 217, 0.3);
  height: 100vh;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

#welcome, #name, #job, #scroll {
  max-width: 93%;
  text-align: left;
  padding-left: 20px;
  margin: 0;
}

#scroll {
  max-width: 100%;
  padding-left: 0px;
}

#welcome {
  font-size: 65px !important;
  font-weight: 100 !important;
  margin-bottom: 35px !important;
  line-height: 1.2 !important;
}

#name h2 {
  font-weight: 700;
  font-size: 50px;
  font-family: "Arvo", serif;
  text-transform: uppercase;
}

#job h3 {
  font-weight: 300;
  font-size: 20px;
  margin: 0;
}

#scroll h4 {
  margin-top: 80px;
  font-weight: 500 !important;
  font-size: 17 !important;
  color: black;
  text-align: center;
}

main#portfolio {
  margin: 0 auto;
  max-width: 93%;
  margin-top: 35px;
}

div#skills {
    margin-bottom: 70px;
}

#portfolio h3  {
  font-weight: 400;
  text-align: center;
}

#portfolio p {
  font-weight: 300;
  margin-top: 7px;
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 1.6;
  max-width: 96%;
}

#portfolio a {
    font-size: 20px;
    text-underline-position: under;
}

.example {
  /* max-width: 340px; */
  margin-bottom: 40px;
}

.example img {
  max-width: 100%;
  border: 1px solid #e4e3e3;
  margin-top: 6px;
  box-shadow: 4px 4px 3px #e4e3e3;
}

div.tools {
  margin: 3px 0px;
  line-height: 1.9;
}

span.r, span.ai, span.d3, span.excel, span.data, span.rep, span.tab {
  font-size: 13.5px;
  padding: 2px 5px;
  background-color: rgba(217, 217, 217, 0.5);
}

span.job {
  color: indigo;
  text-transform: uppercase;
  font-size: 17px;
  font-family: "Arvo", serif;
}

#exampleBlock p {
  font-size: 15px;
  text-align: left;
  margin-top: 2px;
  margin-left: 0px;
}

#exampleBlock a, a:active, a:visited {
  margin-top: 10px;
  font-size: 16px;
  color: #000;
  text-underline-position: under;
}

#exampleBlock a:hover {
  font-size: 16px;
  background-color: #000;
  color: white;
}

section#out h2 {
  font-weight: 300;
}

section#out h4 {
  font-weight: 300;
  font-size: 20px;
}

div#socialMedia {
  margin: 10px auto;
  max-width: 50%;
}

#lnkMail {
	unicode-bidi: bidi-override;
	direction: rtl;
}

a#linkMail, a:active#lnkMail, a:visited#lnkMail {
  text-underline-position: auto;
}

@media only screen and (min-width: 560px) and (max-width: 860px) {

  #welcome, #name, #job {
    margin: 0;
    padding-left: 10%;
  }

  #name h2 {
    font-size: 70px;
  }

  main#portfolio {
    margin: 0 auto;
    max-width: 700px;
    margin-top: 35px;
  }

  #scroll h4 {
    margin-top: 120px;
  }
}

@media only screen and (min-width: 861px) {

  #welcome {
    font-size: 90px !important;
  }

  #welcome, #name, #job {
    padding-left: 10%;
    width: 100%;
  }

  #name h2 {
    font-size: 70px;
  }

  #job h3 {
    max-width: 60%;
  }

  #scroll h4 {
    margin-top: 120px;

  }

  main#portfolio {
    margin: 0 auto;
    max-width: 860px;
    margin-top: 35px;
  }

  #exampleBlock {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }


  .example {
    width: 47%;
    margin-bottom: 40px;
  }

  #exampleBlock a, a:active, a:visited {
    font-size: 15px;
    color: #000;
    text-underline-position: under;
  }
  
  a:hover {
    font-size: 15px;
    background-color: #000;
    color: white;
  }

  /* section#out {
    height: 75vh;
    margin: 0 auto;
    max-width: 100%;
    margin-top: 35px;
    text-align: center;
    padding-left: 0px;
    padding-top: 15%;
  } */
}
