@media (max-width: 320px) {

  body {
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 100;
    color: rgb(80,80,80); /* grey */
  }

  #container {
    width: 90%;
    max-width: 310px;
    margin: 0 auto;
    background: rgb(255,255,255); /*white*/
    padding: 0;
  }

  #container:after {
    display: block;
    content: "";
    clear: both;
  }

  #head {
    display: none;
    position: relative;
    min-width: none;
    margin: 0 auto;
    width: 100%;
    max-width: 310px;
    padding: 0;
  }

  main, section, article {
    width: 310px;
    max-width: 310px;
    padding: 0;
    margin: 0 auto;
  }

  main {
    min-width: 310px;
  }

  main ul {
    position: relative; left: -14%;
  }

  section {
    margin-bottom: 35px;
  }

  article {
    margin-bottom: 25px;
  }

  h1, h2, h3, h4 {
    font-family: sans-serif;
    font-weight: 700;
  }

  h1 {
    color: rgb(141, 186, 203); /*blue*/
    font-size: 30px;
    display: inline-block;
    margin: 0;

  }

  h2 {
    margin-top: 0px;
    margin-bottom: 30px;
  }

  h1, h3 {
    width: 310px;
    color: rgb(141, 186, 203); /* blue */
    font-weight: 100;
  }


  h3 {
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 10px;

  }

  h4 {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  #pic {
    width: 310px;
    margin-left: 0;
    margin-bottom: 5px;
    padding: 0px;
    position: static;
  }

  img {
    width: 80%;
    float: none;
    padding: 0px;
  }

  p {
    width: 300px;
    line-height: 1.7;
    margin-top: 0px;
    margin-bottom: 5px;
    padding: 0px;
    float: none;
  }

  a {
      color: rgb(141, 186, 203); /*blue*/
      text-decoration: none;
  }

  a:visited {
      color: rgb(141, 186, 203); /*blue*/
  }

  a:hover {
      color: rgb(30,31,29); /*dark grey*/
  }

  .actual a {
    color: rgb(30,31,29); /*dark grey*/
  }


  nav {
    width: 100%;
    position: static;
    float: left;
    right: 0;
    top: 0;
  }


  nav ul {
    padding-left: 0;
    list-style: none;
    margin-top: 10px;
  }


  li {
    font-size: 18px;
    display: inline;
    decoration: none;
    padding-left: 0.25em;

  }

  li a {
    text-transform: uppercase;
    font-weight: 100;
  }

  em {
    font-style: italic;
  }

  abbr {
    border-bottom-width: 1px;
    border-bottom-style: dashed;
    border-bottom-color: rgb(64,64,64);
  }
}
